.App {
  padding: 32px 64px;
}

.btn-collapse {
  color: #fff;
  background-color: #007bff;
  padding: 8px 16px;
  border: 1px solid #007bff;
  font-size: 15px;
  border-radius: 4px;
  margin-bottom: 12px;
  transition: .4s;
}

.btn-collapse:hover {
  background-color: #0069d9;
  cursor: pointer;
  border: 1px solid #0069d9;
}

.hidden {
  height: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: .1s;
}

.visible {
  transform: scaleY(100%);
  transition: .1s;
  height: auto;
  transform-origin: top;
}